{% load static %}
<!DOCTYPE html>
<html lang="en" class="signup">
<link rel="stylesheet" href="{% static 'styles.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>

<h2>Sign Up</h2>

<form method="post">
    {% csrf_token %}
    <label for="id_username">Username:</label><br>
    <input type="text" id="id_username" name="username" required><br>
    <!--label for="id_email">Email:</label><br>
    <input type="email" id="id_email" name="email" required><br-->
    <label for="id_password1">Password:</label><br>
    <input type="password" id="id_password1" name="password1" required><br>
    <label for="id_password2">Confirm Password:</label><br>
    <input type="password" id="id_password2" name="password2" required><br>
    <button type="submit">Sign Up</button>
</form>

{% if form.errors %}
    <p style="color: red;">{{ form.errors }}</p>
{% endif %}

<p>Already have an account? <a href="{% url 'accounts:login' %}">Login here</a></p>

</body>
</html>
